html {
  font-family: 'DM Mono', monospace;
  font-size: 18px;
  line-height: 1.5;
  scroll-behavior: smooth;
}

#app {
  width: calc(100% - 2rem);
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

*:focus {
  outline-color: #0d47a1;
  outline-width: 2px;
  outline-offset: 2px;
}

h1 {
  font-weight: 300;
  font-size: 1.7rem;
  color: #1a237e;
  /* letter-spacing: -0.1rem; */
  text-align: center;
}

h2 {
  font-weight: 300;
  font-size: 1.4rem;
  margin-top: 1rem;
  padding-top: 1.5rem;
  color: #1a237e;
}

h3 {
  font-weight: 300;
  font-size: 1rem;
  color: #1a237e;
  font-weight: 500;
}

p {
  color: #263238;
}

ul {
  color: #263238;
}

em {
  font-style: italic;
  font-weight: 500;
}

code {
  background: #e8d8d8;
  color: #16262b;
  display: inline-block;
  border-radius: 4px;
  padding: 0 0.5rem;
}

blockquote {
  font-style: italic;
  color: #546e7a;
  margin-left: 0;
  position: relative;
  padding-left: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  margin-bottom: 0;
}

blockquote::before {
  display: block;
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  border-radius: 6px;
  background: #546e7a;
}

blockquote p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.prism-code a {
  color: inherit;
}
.prism-code a:hover {
  opacity: 0.5;
}

.Note {
  background: #e3f2fd;
  border-radius: 6px;
  padding: 0.6rem 1rem;
  font-size: 0.9rem;
  color: #546e7a;
}

.Hero {
  font-size: 1.2rem;
  text-align: center;
  margin: 2rem 3rem;
}
@media screen and (max-width: 500px) {
  .Hero {
    margin: 1rem 0;
  }
}

.Button {
  background: #9e8f7c;
  color: white;
  border: none;
  font-family: 'DM Mono', monospace;
  font-size: 1rem;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.Button--active {
  background: #1a7097;
}

.Buttons {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 500px) {
  .Buttons {
    flex-direction: column;
  }
}

.Buttons--space {
  width: 0.5rem;
  height: 0.5rem;
}

.Slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  touch-action: pan-y;
}
@media screen and (max-width: 500px) {
  .Slider {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.5rem;
  }
}

.Slider--name {
  margin: 0.3rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 0.8;
  width: 12rem;
  text-align: right;
}
@media screen and (max-width: 500px) {
  .Slider--name {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    text-align: left;
  }
}

.Slider--value {
  min-width: 2.4rem;
  display: inline-block;
  text-align: left;
}

.Range {
  -webkit-appearance: none;
  margin-left: 1rem;
  flex: 2;
  max-width: 20rem;
}
@media screen and (max-width: 500px) {
  .Range {
    align-self: stretch;
    margin-left: 0;
  }
}
.Range:focus {
  outline: none;
}
.Range::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  box-sizing: content-box;
  border-radius: 1rem;
  cursor: pointer;
  background: #1a7097;
  border: 2px solid #1a7097;
}
.Range:focus::-webkit-slider-runnable-track {
  background: #145b7b;
  border-color: #145b7b;
}
.Range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background: #ffffff;
  cursor: pointer;
  border: none;
}
.Range::-moz-range-track {
  width: 100%;
  height: 1rem;
  box-sizing: content-box;
  border-radius: 1rem;
  cursor: pointer;
  background: #1a7097;
  border: 2px solid #1a7097;
}
.Range::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background: #ffffff;
  cursor: pointer;
  border: none;
}
.Range::-ms-track {
  width: 100%;
  height: 1rem;
  box-sizing: content-box;
  border-radius: 1rem;
  cursor: pointer;
  background: #1a7097;
  border: 2px solid #1a7097;
}
.Range::-ms-thumb {
  -webkit-appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  background: #ffffff;
  cursor: pointer;
  border: none;
}

.Container {
  width: 100%;
  margin: 0;
}
@media screen and (min-width: 960px) {
  .Container {
    width: 960px;
    margin: 0 auto;
  }
}

.Content {
  padding: 0 2rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 550px) {
  .Content {
    padding: 0 0.7rem;
  }
}
@media screen and (max-width: 450px) {
  .Content {
    padding: 0 0.5rem;
  }
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Header--logo {
  width: 100%;
}

.Footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 0.9rem;
  padding: 1rem;
  text-align: center;
}

.Nav {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Nav--links {
  width: 600px;
  display: flex;
  padding: 0 1rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 1.3rem;
  color: #1a237d;
  transition-duration: 0.3s;
  background: transparent;
}
@media screen and (max-width: 650px) {
  .Nav--links {
    width: 100%;
    font-size: 1rem;
  }
}

.Nav--active {
  text-shadow: 1px 1px #c6c8da;
}

.Nav--hr {
  width: 50%;
  background: #1a237e;
  border-radius: 10px;
  height: 3px;
  margin-top: 1.5rem;
  opacity: 0.2;
}
@media screen and (max-width: 650px) {
  .Nav--hr {
    height: 2px;
    width: 75%;
  }
}

.Nav--link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #1a237d;
}

.HomeActions {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  justify-content: center;
}
@media screen and (max-width: 700px) {
  .HomeActions {
    flex-direction: column;
    align-items: stretch;
  }
}
@media screen and (max-width: 400px) {
  .HomeActions {
    align-items: stretch;
    padding: 1rem 0;
  }
}

.HomeActions--button {
  display: flex;
  text-align: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: white;
  border: 3px solid #1a7098;
  color: #1a7098;
  padding: 0.6rem 2rem;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.3s;
  margin: 0.5rem 1rem;
}
.HomeActions--button:hover {
  background: #d2eaf5;
}
@media screen and (max-width: 400px) {
  .HomeActions--button {
    margin: 0.5rem 0;
  }
}

.HomeActions--cta {
  background: #1a7098;
  color: white;
  border: 3px solid #1a7098;
}
.HomeActions--cta:hover {
  background: #11516f;
  border-color: #11516f;
}

.Canvas {
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 1rem 1rem 0px 0px #9e907c, 1rem -1rem 0px 0px #9e907c, -1rem -1rem 0px 0px #9e907c,
    -1rem 1rem 0px 0px #9e907c;
  margin: 0;
  background: #352831;
  touch-action: pan-y;
}

.PlayCanvas {
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
}

@media screen and (max-width: 500px) {
  .PlayCanvas {
    padding: 0.5rem;
  }

  .Canvas {
    box-shadow: 0.5rem 0.5rem 0px 0px #9e907c, 0.5rem -0.5rem 0px 0px #9e907c,
      -0.5rem -0.5rem 0px 0px #9e907c, -0.5rem 0.5rem 0px 0px #9e907c;
  }
}

.PlayCanvas--overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
}

.PlayCanvas--big-button {
  transition-duration: 0.3s;
  border: none;
  background: none;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  margin: 0;
  border-radius: 100%;
  padding: 3%;
  outline: none;
  opacity: 0.6;
  background: rgba(0, 0, 0, 0.5);
}

.PlayCanvas--big-button:focus,
.PlayCanvas--big-button:hover {
  background: rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.PlayCanvas--big-button svg {
  stroke-width: 0.5px;
}

.PlayCanvas--controls {
  position: absolute;
  right: 0;
  top: 0;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

.PlayCanvas--button {
  transition-duration: 0.3s;
  border: none;
  background: none;
  color: white;
  opacity: 0.5;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  margin: 0;
  border-radius: 100%;
  outline: none;
}

.PlayCanvas--button:focus,
.PlayCanvas--button:hover {
  opacity: 1;
}

.PlayCanvas--button svg {
  stroke-width: 1.5px;
}

.CodeBlock {
  border-radius: 6px;
  padding: 1rem;
  font-family: 'DM Mono', monospace;
  font-weight: 100;
  overflow: auto;
}

.ApiSectionTitle {
  text-decoration: none;
  color: #1a237e;
  position: relative;
}
.ApiSectionTitle::before {
  content: '#';
  display: block;
  position: absolute;
  left: -1rem;
  opacity: 0;
  padding-right: 1rem;
}
.ApiSectionTitle:hover::before {
  opacity: 1;
}

.Token {
  font-size: 0.7em;
  background: #1a7098;
  border-radius: 6px;
  display: inline-block;
  height: 100%;
  color: white;
  padding: 0 0.5em;
  vertical-align: top;
  opacity: 0.7;
  margin-top: 0.3rem;
  margin-left: 1rem;
}
